mixin Card()
    .card
        h2.title Imprimir serie
        .from-to
            .input
                .title Desde
                input#desde(type="number").form
            .input
                .title Hasta
                input#hasta(type="number").form
        .options
            .container
                .input
                    .title Libro
                    input#libro(type="text").form
                .input
                    .title Empresa
                    input#empresa(type="text").form
            .input
                .title RUC
                input#ruc(type="text").form
        
        //- .typeButtons
        //-     input.radio#compras(checked type="radio", name="typeButton")
        //-     label.typeButton(for="compras") Compras
        //-     input.radio#ventas(type="radio", name="typeButton", disabled)
        //-     label.typeButton(for="ventas") Ventas
        //-     input.radio#mayor(type="radio", name="typeButton", disabled)
        //-     label.typeButton(for="mayor") Mayor
        //-     input.radio#diario(type="radio", name="typeButton", disabled)
        //-     label.typeButton(for="diario") Diario

        .typeDropdown
            .dropdown#dropdown Seleccione un tipo
                img.arrow(src="./arrow.svg", alt="Dropdown Arrow")
            .typeOptions#options
                .input
                    input#searchtype(placeholder="Buscar...").form
                .optionsContainer
                    -const RubricaTypes = ['Mayor', 'Diario', 'Ventas', 'Compras']
                    each name in RubricaTypes
                        .typeOption=name

        .buttons
            button#download.button Generar Archivo
            

if js
    +Card