mixin Card()
    .card
        h2.title Imprimir serie
        .from-to
            .input
                .title Desde
                input#desde(type='number').form
            .input
                .title Hasta
                input#hasta(type='number').form
        .options
            .container
                .input
                    .title Libro
                    input#libro(type='text').form
                .input
                    .title Empresa
                    input#empresa(type='text').form
            .input
                .title RUC
                input#ruc(type='text').form

        .typeDropdown
            .dropdown#dropdown Seleccione un tipo
                img.arrow(src='./arrow.svg', alt='Dropdown Arrow')
            .typeOptions#options
                .input
                    input#searchtype(placeholder='Buscar...').form
                .optionsContainer
                    include ../helpers/InjectRubricaTypes.pug
                    +InjectRubricaTypes

        .imageContainer
            .imageDropArea#imageDropArea
                input#imageInput(type='file' accept='image/png' style='display:none;')
                label.label(for='imageInput') Seleccione una imagen aquí
            .imageSelectedCard#imageSelectedCard Imagen seleccionada correctamente
                .imageButtons
                    button#reselectImage.imageButton Actualizar imagen
                    button#deleteImage.imageButton.red Remover imagen

        .buttons
            button#download.button Generar Archivo
            

if js
    +Card