mixin Card()
    .card
        h2.title Imprimir serie
        .from-to
            .input
                .title Desde
                input#desde(type="number").form
            .input
                .title Hasta
                input#hasta(type="number").form
        .options
            .container
                .input
                    .title Libro
                    input#libro(type="text").form
                .input
                    .title Empresa
                    input#empresa(type="text").form
            .input
                .title RUC
                input#ruc(type="text").form
        .typeButtons
            input.radio#compras(checked type="radio", name="typeButton")
            label.typeButton(for="compras") Compras
            input.radio#ventas(type="radio", name="typeButton")
            label.typeButton(for="ventas") Ventas
            input.radio#mayor(type="radio", name="typeButton")
            label.typeButton(for="mayor") Mayor
            input.radio#diario(type="radio", name="typeButton")
            label.typeButton(for="diario") Diario

        .buttons
            button#previsualize.button Previsualizar
            button#print.button Imprimir
            

if js
    +Card