.card
    display: flex
    flex-flow: wrap column
    gap: 1.5em
    margin-bottom: 2em

    background-color: $grey-2

    width: 35em
    padding: 1.5em

    border-radius: 1em
    color: #ebebeb

    @include media('<=1920px', '>1440px')
        font-size: 22px
    @include media('<=1440px', '>1366px')
        font-size: 18px
    @include media('<=1280px', '>1024px')
        font-size: 18px
    @include media('<=1024px', '>768px')
        font-size: 16px
    @include media('<=768px', '>768px')
        font-size: 18px
    @include media('<=720px', '>560px')
        font-size: 16px
    @include media('<=560px')
        width: 20em
    @include media('<=560px', '>=480px')
        font-size: 16px
    @include media('<480px', '>=360px')
        font-size: 14px
    @include media('<360px', '>=300px')
        font-size: 12px
    @include media('<300px', '>=240px')
        font-size: 10px
    @include media('<240px')
        font-size: 8px

    .title
        font-size: 1.3em
        font-weight: 600

    .input
        display: flex
        flex-flow: wrap column
        gap: .5em
        width: 100%
        .title
            font-size: 1em
            font-weight: 400
        .form
            padding: .8em
            width: 100%

            color: #fff
            background-color: $grey-3
            transition: background-color .3s ease
            box-shadow: 0px 0.25em 0.25em rgba(0, 0, 0, 0.25)

            outline: none
            border: none
            border-radius: 3.125em

            box-sizing: border-box
            font-size: .9em

            &::placeholder
                color: #b6b6b6

            &:focus
                background-color: #525252

    .from-to
        display: flex
        gap: 1em
        @include media('<=560px')
            flex-flow: wrap column

    .options
        display: flex
        flex-flow: wrap column
        gap: 1em
        background-color: $grey-1
        padding: 1em
        border-radius: 1em
        .container
            display: flex
            gap: 1em
            @include media('<=560px')
                flex-flow: wrap column

    .typeDropdown
        display: flex
        flex-flow: wrap column
        justify-content: center
        align-content: center

        width: 100%

        .dropdown
            display: flex
            justify-content: space-between
            width: 100%
            padding: 1em
            box-sizing: border-box
            background-color: $grey-1
            border-radius: 1em
            transition: background-color .3s ease, border-radius .2s ease
            cursor: pointer
            user-select: none

            .arrow
                width: 1em
                transition: transform .4s ease
            
            &.active .arrow
                transform: rotate(180deg)
            
            &:hover
                background-color: $grey-3
            
            &.active
                background-color: #1b1b1b
                &:hover
                    background-color: $grey-3

        .typeOptions
            position: relative
            height: 0
            transform-origin: 50% 0%
            transform: scaleY(0)
            opacity: 0
            transition: transform .3s ease, opacity .3s ease
            margin-top: 0
            border-radius: 1em
            background-color: $grey-1

            .input
                position: sticky
                top: 0
                padding: .7em 1em
                width: 100%
                box-sizing: border-box
                .form
                    box-shadow: none
                    border-radius: 1em

            .optionsContainer
                display: flex
                flex-flow: column nowrap
                overflow-y: scroll
                height: 9em
                &::-webkit-scrollbar
                    width: 1em
                &::-webkit-scrollbar-thumb
                    background-color: $grey-3
                    border-radius: 1em
                &::-webkit-scrollbar-track
                    background-color: $grey-1
                    border-radius: 0 0 .5em 0

            .typeOption
                width: 100%
                box-sizing: border-box

                padding: 1em

                transition: background-color .3s ease
                cursor: pointer
                user-select: none

                &:hover
                    background-color: $grey-3

            &.active
                opacity: 1
                margin-top: 1em
                height: auto
                transform: scaleY(1)

    .imageContainer
        position: relative
        .imageDropArea
            display: flex
            align-items: center
            justify-content: center
            width: 100%
            height: 6.125em
            box-sizing: border-box

            border: solid .175em #4e4e4e
            border-radius: 1em
            user-select: none
            color: #ffffff
            transition: border-color .3s ease, background-color .3s ease

            &:hover
                border-color: #636363
                background-color: $grey-3

            .label
                display: flex
                align-items: center
                justify-content: center
                width: 100%
                height: 100%
                padding: 1em
                transition: color .2s ease
                cursor: pointer
                // color: #11d6e0
                font-weight: 500
                // text-decoration-line: underline
                box-sizing: border-box
                // &:hover
                //     color: #00f2ff
            
            @include media('<=560px')
                height: 10em

        .imageSelectedCard
            position: absolute
            top: -0
            display: flex
            flex-flow: column nowrap
            align-items: center
            justify-content: space-between
            gap: 1em
            height: 6.125em
            visibility: hidden

            user-select: none
            text-align: center

            width: 100%
            padding: 1em
            box-sizing: border-box
            border-radius: 1em

            background-color: $grey-1
            .imageButtons
                display: flex
                align-items: center
                justify-content: space-between
                gap: 1em
                width: 100%
                .imageButton
                    width: 100%
                    background-color: $grey-3
                    color: #fff
                    padding: .5em
                    border: none
                    outline: none
                    border-radius: .5em
                    font-size: 1em
                    font-weight: 500
                    cursor: pointer
                    &.red
                        background-color: #BA1010
            @include media('<=560px')
                height: 10em
                .imageButtons
                    flex-direction: column

    .buttons
        display: flex
        gap: 1em
        width: 100%
        .button
            width: 100%
            padding: .7em
            font-size: 1em
            border-radius: .5em
            border: 2px solid transparent
            background-color: $primary
            transition: background-color .3s ease
            color: #fff
            font-weight: 600
            cursor: pointer
            &:focus
                outline: none
                border: 2px solid #25afb6
            &:hover
                background-color: #099da5
        @include media('<=560px')
            flex-flow: wrap column