-const RubricaTypes = ['Mayor','Diario','Ventas','Compras','Inventario','Acta de Asamblea','Acta de Directorio','Registro de Accionistas','Registro de Firmas','Registro de Asistencia','Registro de Acciones',];
mixin InjectRubricaTypes()
    each name in RubricaTypes
        .typeOption=name